[submodule "nn-modules"]
	path = nn-modules
	url = https://github.com/nenoneca/nn-modules.git
[submodule ".nn-build"]
	path = .nn-build
	url = https://github.com/nenoneca/nn-app-build.git
	branch = nn/main/dev
